/* Page layout  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* Inizio header */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(55, 81, 255);
}

body{
  width: 1000px;
  margin: auto;
}

.top{
  width: 80%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top li:hover{
  text-decoration: underline;
}

.logo{
  width: 100px;
  text-align: center;
}

.menu{
  width: 60%;
  text-align: center;
  line-height: 25px;
}

.menu ul{
  display: flex;
  font-size: .8rem;
  justify-content: space-evenly;
}

ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
}

ul li a:hover{
  text-decoration: underline;
}

.login{
  width: fit-content;
  font-weight: 550;
  font-size: 14px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 30px;
  border-style: none;
}
/* Fine header */


/* Inizio jumbo */
.jumbo{
  display: flex;
  height: 372px;
  background-image: url(../img/jumbo.png);
  background-size:contain;
  justify-content: center;
  align-items: center;
}

.jumbo-box{
  display: flex;
  text-align: center;
  justify-content: center;
  height: 70%;
  width: 58%;
  flex-wrap: wrap;
}

.jumbo-box h1{
  color: white;
  font-weight: 900;
}

.jumbo-box p{
  width: 500px;
  font-weight: 600;
  color: white;
}

.jumbo-box a{
  height: fit-content;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  padding: 15px;
  border-style: none;
}

.download{
  background-color: white;
}

.browser-mode{
  background-color: black;
  color: white;
}

/* Fine jumbo */

/* Inizio main */
.section{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.boxes-container{
  display: flex;
  height: 90%;
  width: 80%;
}

.section-box-large{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  background-size: cover;
}

.section-box-large.one{
  background-image: url(../img/item1.svg);
}

.section-box-large.two{
  background-image: url(../img/item2.svg);
}

.section-box-large.img-three{
  background-image: url(../img/item3.svg);
}

.section-box-small{
  display: flex;
  text-align: left;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 30%;
  font-size: 1.1rem;
}

.section p{
  margin-top: 20px;
}

.wave{
  display: flex;
  width: 100%;
  height: 80px;
  opacity: 0.1;
}

.wave-reverse{
  display: flex;
  width: 100%;
  height: 80px;
  opacity: 0.1;
  transform: scaleY(-1)
}

.two{
  background-color: rgb(229, 229, 229);
}

.section.three{
  background-color: rgb(229, 229, 229);
  display: flex;
  height: 800px;
}

.big-box{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-flow: column;
}

.big-box h3{
  display: flex;
  align-self: center;
  padding: 30px;
  background-image: url(../img/stars.svg);
  background-size:contain;
  background-repeat: no-repeat;
}

.download-bottom{
  display: flex;
  align-self: center;
  background-color: rgb(146, 160, 225);
  color: white;
  width: fit-content;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  padding: 15px;
  border-style: none;
  margin-top: 30px;
}

/* Fine main */

/* Inizio footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 500px;
  background-color: rgb(41, 43, 46);
  margin-bottom: -65px;
}

.footer-one{
  display: flex;
  height: 70%;
  width: 80%;
}

.footer-box-big{
  display: flex;
  flex-flow: column;
  width: 30%;
}

.footer-box-big h2{
  font-weight: 800;
  color: rgb(101, 115, 178);
}

.language{
  margin: 10px 0;
  color: white;
}

.flag{
  width: 25px;
}

.footer-box-img.span{
  width: fit-content;
}

.footer-box-small{
  display: flex;
  width: 20%;
  margin-left: 38px;
}

.socials svg{
  color: white;
  margin: 0 5px;
}

ul{
  list-style: none;
  font-weight: bold;
}

.footer-box-small ul li{
  text-decoration: none;
}

.footer-box-small li{
  margin: 10px 0;
}

.list-head{
  color: rgb(101, 115, 178);
}

hr{
  display: flex;
  margin: 30px;
  width: 80%;
  border-color: rgb(146, 160, 225);
}

/* Bottom row */
.bottom-row{
  height: 70px;
  background-color: rgb(41, 43, 46);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-two{
  display: flex;
  height: 70%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.logo-bottom{
  width: 100px;
}

.bottom-row a{
  border-radius: 30px;
  background-color: rgb(146, 160, 225);
  padding: 9px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: small;
}